@mixin respond($break){

    @if $break==tab-land{  //1200 px
        @media (max-width: 80em){@content};
    }
    @if $break==tab-port{  //900px
        @media (max-width: 56.25em){@content};
    }
    @if $break==tab-small{  //700px
        @media (max-width: 43.75em){@content};
    }
    @if $break==tab-small-2 or $break==phone{  //500px
        @media (max-width: 31.25em){@content};
    }
    // @if $break==phone{    
    //     @media (max-width: 28.125em){@content};
    // }
}
@keyframes menu-show{
    35%{
        transform: translateY(-5rem)
    }
    37%{
        opacity: 0;
    }
    60%{
        transform: translateY(5rem);
        // min-height: 50vh;
    }
    100%{
        transform: translateY(5rem);
        opacity: 100;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
        );
        height: fit-content;
        margin-top: 3rem;
        border-radius: 2rem;
        z-index: 2;
        align-items: baseline;
        box-shadow: none;
        // &_contaner{
        //     padding: 2rem 0 4rem 0;
        //     margin-top: -2.5rem;
        // }
    }
    
}